@import "../../styles/variaveis";

footer{
    background-color: $azulRodape;
    height: 80px;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 30px rgba($preto,$alpha);
}

.rodape{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    

    &__container{
        display: flex;
        gap: 32px;
    }

    &__img{
        width: 32px;
    }

    &__link{
        text-decoration: none;
        color: $corTexto;
        font-family: $fontR;
        font-size: 24px;
    }
}