@import "../../styles/variaveis";

.tags {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $corTexto;
  font-family: $fontR;
  font-size: 16px;

  p {
    font-size: 1.25rem;
  }

  &__lista {
    list-style: none;
    width: 35vw;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      background-color: $tagColor;
      padding: 6px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}